{# templates/emails/purchase-request.html.twig #}
<h3>Pedido Registrado.</h3>

<div>
Estimado revise su app de Pedidos.
Hay una solicitud registrado por {{ purchase.user.name }} de la agencia {{ purchase.office.name }}. 
</div>
    
<p>
    Gracias!
</p>

<address>
    Semilla del Progreso<br>
    {{ adminEmail }}<br>
    Mensaje Automático
</address>


